h1 {
    border-bottom: 1pt; 
    font-family: Arial, Helvetica, sans-serif;
    /* align-item: center; */
    font-size: 18pt;
    font-weight: normal;
    position: fixed;
    top: -1px;
    left: 100px;
    z-index: 1; 

}

.inV {
    position: fixed;
    top: 3px;
    z-index: 3;
}

.WTF{
    display: flex;
    justify-content: space-around;
    /* border: solid 1px; */
    width: 80%;
    font-size: 9pt; 
    font-weight: bold;
    align-items: center;
    z-index: 5;
}

#BigWords {
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    z-index: 2;
}

.litOwl {
    display: flex;
    justify-content: center;
    margin-top: 5;
    z-index: 12;
}

.centerOwl{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    z-index: 10;
    /* width: 50%; */
}

#SubP {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    margin-right: 325px;
    margin-left: 325px;
    line-height: 1.75;
}

header {
    flex-direction: row;
    justify-content: space-around;
    /* align-items: stretch; */
    display: flex;
    padding: 50px;
    /* position: sticky;  */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt; 
  }

#btnSubscribe {
    /*background-color: red; /* Green */
    /* border: 5px black; */
    /* color: white; */
    padding: 10px 20px;
    /* text-align: center; */
    /* display: flex; */
    justify-content: center;
    font-size: 12px;
    border-radius: 24px;
    font-weight: bold;
    /* margin-left: 532px; */
    /* margin-top: 40px; */
    /* width: 70px; */
}

#btnIn {
    background-color: black; 
    /* border: 5px black; */
    color: white; 
    padding: 1px 5px;
    /* text-align: center; */
    /* display: flex; */
    justify-content: center;
    font-size: 20px;
    /* border-radius: 24px; */
    font-weight: bold;
    /* margin-left: 532px; */
    /* margin-top: 40px; */
    /* width: 70px; */
}

#btnStartEx {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 10px;
    border-radius: 24px;
    margin-left: 532px;
    margin-top: 40px;
    width: 170px;
}

#Scroll{
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 14px;
}